@import url('reset.less');
@import url('variables.less');
@import url('mixins.less');
// @import url('grid.css');
@import url('custom_grid.less');


/* ==========================================================================
   TEMPLATE VARIABLES
   ========================================================================== */

@fontSize: 62.5%; // = 10px
// @fontFamily: "proxima-nova", "Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
@fontFamily: Helvetica, Arial, "Open Sans", "Gill Sans MT", "Gill Sans", sans-serif;
@defaultColor: rgb(0, 82, 141);
@fontLight: 300;
@fontNormal: 400;
@fontBold: 500;
@defaultWidth: 960px;

/* Colors */
@white: #fff;
@black: #000;
@blue: #0070b1;
@blue2: #00b7e7;
@blue3: #608cc8;
@blue4: #5fcce9;
@blue5: #ddf3fd;
@blue6: #0070b2;
@blue-light: #a2bacf;
@blue-dark: #216f95;
@blue-neutral: #7197b3;
@blue-neutral2: #99b0bd;
@gray-mid: #666;

@footerHeight: 450px;

.transition(@type: all, @time: .25s){
	-webkit-transition: @type @time;
	-moz-transition: @type @time;
	-o-transition: @type @time;
	transition: @type @time;
}

.inlineBlocker(@vAlign: top){
    display: inline-block;
    *display: inline;
    vertical-align: @vAlign;
    *vertical-align: @vAlign;
}

.box-sizing(@model: border-box) {
	-webkit-box-sizing: @model;
	-moz-box-sizing: @model;
	-o-box-sizing: @model;
	box-sizing: @model;
}

.font-size(@fallback: 13px, @cs3: 1.3rem) {
	font-size: @fallback;
	font-size: @cs3;
}

/* ==========================================================================
   STICKY FOOTER
   ========================================================================== */

* {
	margin: 0;
}

html[lang="en"], body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -@footerHeight + 10; 
}
.wrapper:after {
	content: "";
	display: block;
}
footer, .wrapper:after {
	// height: @footerHeight; 
}

/* ==========================================================================
   DEFAULR STYLES
   ========================================================================== */

html[lang="en"]{
	margin-top: 0px !important;
	-webkit-font-smoothing: antialiased;
	font-size: @fontSize;
}

textarea:focus, input:focus{
    outline: 0;
}

body{
	.font-size();
	font-family: @fontFamily;
	font-weight: @fontNormal;
	background-color: @white;
	background-image: url(../images/graphics/pattern.gif);
	background-position: center top;
	background-repeat: repeat;
	overflow-y: scroll;
	color: @defaultColor;

	a {
		.transition;
		color: @blue;
		text-decoration: none;
		&:hover{
			outline: 0;
		}
		&:focus { 
			outline:none;
		}
	}

	p {
		margin-bottom: 20px;
		line-height: 1.35;
	}

	.activeMenuItem{
		color: @blue !important;
		font-weight: @fontBold;
	}

	ul, li{
		list-style-type: none;
	}

	.currentPage{
		color: @black !important;
	}
}

/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/
header {
	padding-top: 30px;
	margin-bottom: 25px;

	.logo {

		@media only screen and (max-width: 719px) {
			text-align: center;
		}


		img {
			box-shadow: 8px 8px 18px #333;	
		}
	}
	
	.side-menu {
		float: right;

		@media only screen and (max-width: 719px) {
			float: none;

			ul {
				margin: 10px auto 0;
				width: 230px;
			}
		}

		ul {
			font-size: 0;

			li {
				.inlineBlocker();

				@media only screen and (min-width: 720px) and (max-width: 974px){
					display: block;

					a {
						display: block !important;
						text-align: left !important;
					}
				}

				.contact {
					background-color: @blue3;
				}
				.brochure {
					background-color: @blue2;
				}
				.linkedin {
					padding: 0px;
					padding-left: 6px;

					img {
						width: 23px;
						height: 23px;
					}
				}

				a {
					.inlineBlocker();
					color: @white;
					text-align: center;
					.font-size();
					text-transform: uppercase;
					font-weight: 900;
					padding: 4px 12px;

					&:hover {
						color: @black;
					}
				}
			}
		}
	}
	.menu-main-menu-container {
		margin-top: 70px;



		@media only screen and (min-width: 720px) and (max-width: 974px){
			margin-top: 40px;
		}

		@media only screen and (max-width: 719px) {
			margin-top: 30px;			
		}

		ul {
			font-size: 0;

			@media only screen and (max-width: 479px) {
				width: 190px;
				margin: 0 auto;
			}

			li {
				.inlineBlocker();
				border: 1px solid @white;
				border-left: none;
				position: relative;
				
				.sub-menu {display: none !important;}

				&:first-child {
					border-left: 1px solid @white;
				}
				&.item1 { background-color: @blue-dark;}
				&.item2 { background-color: @blue-neutral;}
				&.item3 { background-color: @blue;}
				&.item4 { background-color: @blue-neutral2;}

				&:hover {

					a {
						color: @black;
					}
				}

				a {
					.inlineBlocker();
					color: @white;
					text-align: center;
					.font-size();
					width: 90px;
					height: 90px;
					line-height: 90px;
					font-weight: 600;
					text-transform: uppercase;

					@media only screen and (min-width: 720px) and (max-width: 974px){
						width: 70px;
						height: 70px;
						line-height: 70px;
						.font-size(11px, 1.1rem);
					}
				}
			}
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*	HOMEPAGE
/*-----------------------------------------------------------------------------------*/

#home {
	header {

		.container {
			position: relative;
		}
		.item1,
		.item2,
		.item3,
		.item4 {
			z-index: 9999;
		}

		.item1 {
			position: absolute;
			right: 330px;
			top: 63px;
		}
		.item2 {
			position: absolute;
			top: 364px;
			left: 241px;
		}
		.item3 {
			position: absolute;
			right: 330px;
			top: 414px;
		}
		.item4 {
			position: absolute;
			right: 0;
			border: 1px solid #FFF;
			top: 384px;
		}

		@media only screen and (max-width: 974px) and (min-width: 720px) {
			.item1 {
				top: 102px;
			}
			.item2 {
				top: 309px;
				left: 178px;
			}
			.item3 {
				top: 379px;
			}
			.item4 {
				top: 331px;
			}
		}

		@media only screen and (max-width: 719px) {
			.item1, .item2,
			.item3, .item4 {
				position: static;
			}
		}
	}
	.home-wrapper {
		position: relative;
		font-size: 100%;
		height: 490px;
		z-index: -1;
		top: -95px;

		@media only screen and (max-width: 974px) and (min-width: 720px) {
			top: -75px;
		}

		@media only screen and (max-width: 719px) {
			top: 100%;
			height: 180px;
		}

		.content {
			background-color: @blue2;
			width: 330px;
			padding: 54px 15px;
			position: absolute;
			right: 0;
			color: @white;
			max-height: 229px;
			.box-sizing();

			@media only screen and (min-width: 480px) and (max-width: 719px) {
				position: static;
				width: 90%;
			}

			@media only screen and (max-width: 479px) {
				position: static;
				width: 85%;
			}
		}

		.image1 {
			position: absolute;
			right: 0;
			top: 321px;
			width: 330px;
		}
		.image2 {
			position: absolute;
			right: 422px;
			top: -92px;
		}
		.image3 {
			position: absolute;
			top: 93px;
			right: 422px;
			width: 221px;
		}
		.image4 {
			position: absolute;
			left: -28px;
			top: 94px;
		}
		.image5 {
			position: absolute;
			top: 301px;
			left: 240px;
		}

		@media only screen and (max-width: 974px) and (min-width: 720px) {
			.image1 {
				top: 301px;
			}
			.image2, .image5 { display: none;}
			.image3 {
				top: 279px;
				right: 402px;
			}
			.image4 {
				left: -20px;
				top: 0px;
			}
		}

		@media only screen and (max-width: 719px) {
			.image1, .image2,
			.image3, .image4,
			.image5 {
				display: none;
			}
		}
	}
}


/*-----------------------------------------------------------------------------------*/
/*	SIDEBAR
/*-----------------------------------------------------------------------------------*/
.sideBar {
	background-color: @blue-neutral;
	text-align: center;
	width: 150px;
	margin-left: 24px;
	padding: 15px 0 20px;

	#contact & {
		background-color: transparent;
	}
	#services & {
		width: 170px;
		margin-left: 14px;
	}

	@media only screen and (max-width: 719px) {
		margin-left: 20px;
	}

	a {
		color: @white;
		text-transform: uppercase;
		margin-bottom: 15px;
		display: block;

		&:hover {
			color: @defaultColor;
		}
	}

	.sideNav {

		> li {

			> a {
				color: @blue-neutral !important;
			}
			.sub-menu {
				margin-top: -25px;
			}
		}
		
	}
}

/*-----------------------------------------------------------------------------------*/
/*	CONTENT
/*-----------------------------------------------------------------------------------*/
.primary {
	width: 78%;
	padding-left: 8px;
	padding-right: 0px;

	@media only screen and (min-width: 720px) and (max-width: 974px){
		width: 100%;
		margin-top: -20px;
	}

	@media only screen and (max-width: 719px) {
		margin-top: -30px;
	}

}

.mainContent {

	#news &,
	#listings & {
		margin-left: 20px;

		@media only screen and (max-width: 719px) {
			margin-left: 0px;
		}
	}

	&.property-main {
		margin-left: 50px !important;

		@media only screen and (max-width: 974px){
			margin-left: 0px !important;
		}
	}

	.pageInfo {
		z-index: 10;
		position: relative;

		h2 {
			background-color: @blue-neutral;
			color: @white;
			text-transform: uppercase;
			padding: 8px 45px;
			.font-size(15px, 1.5rem);
			min-width: 240px;
			box-shadow: 4px 4px 9px lighten(@gray-mid, 20%);
			font-weight: bold;
			line-height: 1;
			.inlineBlocker();

			#news & {
				background-color: @blue-neutral2;
				box-shadow: 4px 4px 9px darken(@gray-mid, 15%);	
			}

			#listings & {
				background-color: @blue-neutral2;
				box-shadow: 4px 4px 9px darken(@gray-mid, 15%);				
			}

			@media only screen and (max-width: 479px) {
				min-width: 180px;
			}
		}
	}
	.content-entry {
		background-color: @white;
		padding: 20px 30px 40px;
		margin-left: 20px;
		margin-top: -15px;
		position: relative;
		z-index: 0;

		@media only screen and (max-width: 479px) {
			margin-left: 0px;
		}

		h2 {
			.font-size(14px, 1.4rem);
		}

		p {
			
			strong {

				&:first-child {
					color: @blue6;
					.font-size(12px, 1.2rem);
				}
			}
		}

		h3 {
			color: @blue6;
			.font-size(12px, 1.2rem);
			margin-bottom: 10px;
		}

		#contact & {

			strong {
				color: @defaultColor !important;
			}
		}

		#listings & {
			margin-top: 15px;
			padding: 0px;

			h2 {
				background-color: @blue2;
				text-transform: uppercase;
				color: #FFF;
				padding: 6px 20px;
			}

			table.striped {
				
			}

			.properties-group {
				background-image: url(../images/graphics/listing-divider.jpg);
				background-position: 0px 28px;
				background-repeat: repeat;

				&.management-amp038-leasing {
					
					.property {
						cursor: pointer;
					}
				}

				.property {
					.inlineBlocker();
					.box-sizing();
					vertical-align: top;
					width: 181px;
					padding: 10px;
					padding-right: 0px;
					min-height: 88px;

					@media only screen and (min-width: 720px) and (max-width: 974px) {
						width: 193px;
					}

					@media only screen and (max-width: 719px) and (min-width: 480px) {
						width: 350px;
					}

					@media only screen and (max-width: 479px) {
						width: 270px;
					}

					.property-photo {
						
						img {
							width: 65px;
							height: 65px;
							display: block;
							float: left;
							margin-right: 10px;
						}
					}
					.property-specs {
						height: 65px;
						position: relative;
						margin-left: 70px;

						.property-title {

							h3 {
								.font-size(10px, 1rem);	
							}
						}
						.dimensions {
							.font-size(10px, 1rem);
						}
						.inner-link {
							.font-size(9px, 0.9rem);
							color: @black;
							position: absolute;
							bottom: 0;
						}
					}
				}
			}
		}

		#news & {
			margin-top: 5px;
			padding: 0px;

			thead {
				background-color: @blue4;

				@media only screen and (max-width: 719px) {
					display: none;
				}


				td {
					color: darken(@gray-mid, 10%);
					padding: 10px;
					text-transform: uppercase;

					&:first-child {
						padding-left: 35px;
					}
				}
			}
			tbody {

				tr.even {
					background-color: @blue5;
				}

				td {
					color: @defaultColor;
					padding: 10px;
					text-transform: uppercase;

					strong {
						display: none;

						@media only screen and (max-width: 719px) {
							display: inline;
						}	
					}

					@media only screen and (max-width: 719px) {
						display: block;
						text-align: left;
						padding-left: 35px;
					}

					&:first-child {
						padding-left: 35px;
					}

					&.download {

						a {
							background: url('../images/graphics/pdf.png');
							background-repeat: no-repeat;
							background-position: top left;
							display: block;
							width: 20px;
							height: 20px;
							text-indent: -9999px;
						}
					}
				}
			}
		}

		.sub-page {
			background-color: @blue-light;
			margin-top: -40px;
			margin-left: -30px;
			margin-bottom: 40px;
			width: 630px;
			padding: 25px 25px 10px;

			a {
				font-weight: bold;
				text-transform: uppercase;
				.font-size(13px, 1.3rem);
				margin-right: 25px;
				color: @gray-mid;

				&.active {
					color: @black;
				}
			}
		}
		
		.service-block {
			.service-controls {
				background-color: @blue-light;
				padding: 25px 20px 10px;
				margin-top: -20px;
				margin-left: -30px;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 20px;

				@media only screen and (min-width: 480px) and (max-width: 719px) {
					width: 310px;
				}

				@media only screen and (max-width: 479px) {
					width: 230px;
				}

				a {
					color: @gray-mid;
					margin-right: 20px;

					&.active {
						color: @black;
					}
				}
			}
			.service-panels {

				.panel {
					display: none;

					&:first-child {
						display: block;
					}
				}
			}
		}

		.size-full,
		.featured {
			float: right;
			margin-right: -50px;
			margin-top: -110px;
			margin-left: 30px;
			margin-bottom: 10px;
			border: 1px solid @blue-dark;
			width: 300px;
			height: auto;
			box-shadow: 7px 7px 16px #363636;

			#services & {
				margin-top: -165px;
			}

			@media only screen and (max-width: 719px) {
				display: none;
			}
		}
	}

	.single-property {
		background-color: @white;
		padding: 40px 30px 40px;
		margin-left: 60px;
		margin-top: -15px;
		position: relative;
		z-index: 0;

		@media only screen and (max-width: 719px) {
			margin-left: 0;
		}

		.featured {
			.inlineBlocker();
			width: 250px;
			margin-left: -50px;
			margin-right: 50px;
			border: 1px solid @blue-dark;
			height: auto;
			box-shadow: 7px 7px 16px #363636;

			@media only screen and (max-width: 974px) {
				display: none;
			}
		}

		.property-content {
			.inlineBlocker();
			width: 500px;

			@media only screen and (max-width: 974px) {
				width: 100%;
			}

			.website {
				background-color: @blue3;
				color: @white;
				padding: 10px 20px;
				display: inline-block;
				margin-bottom: 20px;
				.font-size(14px, 1.4rem);
				text-transform: uppercase;
				font-weight: bold;

			}

			// Striped table
		}
	}
	
	.search-properties {
		margin-left: 20px;
		padding: 25px 60px 10px;
		margin-top: -15px;

		background: -moz-linear-gradient(top,  rgba(0,112,177,0.7) 0%, rgba(0,112,177,0.7) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,112,177,0.7)), color-stop(100%,rgba(0,112,177,0.7))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,112,177,0.7) 0%,rgba(0,112,177,0.7) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,112,177,0.7) 0%,rgba(0,112,177,0.7) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,112,177,0.7) 0%,rgba(0,112,177,0.7) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,112,177,0.7) 0%,rgba(0,112,177,0.7) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30070b1', endColorstr='#b30070b1',GradientType=0 ); /* IE6-9 */

		@media only screen and (max-width: 479px) {
			margin-left: 0px;
			padding: 25px; 
		}

		span {
			background-color: @white;
			background-image: url(../images/graphics/select-arrow.jpg);
			background-image: none\0; // for ie
			background-position: center right;
			background-repeat: no-repeat;
			.font-size(12px, 1.2rem);
			margin-left: 20px;
			.inlineBlocker();

			@media only screen and (max-width: 974px) {
				margin-bottom: 10px;
				margin-left: 0px;
			}

			&:first-child {
				margin-left: 0;
			}

			select {
				-webkit-appearance: none;
				-moz-appearance: window;
				background-color: transparent;;
				appearance: none;
				border: 0;
				text-transform: uppercase;
				color: @defaultColor;
				padding: 5px 10px;
				font-family: @fontFamily;

				@media only screen and (max-width: 479px) {
					width: 100%;
				}

				&.submarket {
					width: 230px;

					@media only screen and (max-width: 974px) and (min-width: 720px) {
						width: 215px;
					}
				}
				&.sqfeet {
					width: 125px;

					@media only screen and (max-width: 974px) and (min-width: 720px) {
						width: 215px;
					}
				}
				&.property_type {
					width: 135px;
				}
				&.rent {
					width: 110px;
				}
			}
		}
		button {
			background-color: @white;
			color: @defaultColor;
			border: 0;
			padding: 5px 10px;
			.font-size(12px, 1.2rem);
			text-transform: uppercase;
			margin-left: 20px;

			@media only screen and (max-width: 974px) {
				margin-left: 0px;
			}
		}
	}

	.team-selection {
		background-color: @white;
		padding: 0px 20px;
		padding-right: 0px;
		margin-left: 20px;
		margin-top: -15px;
		margin-bottom: 20px;
		position: relative;
		z-index: 0;

		.team-members {

			li {
				.inlineBlocker();
				min-width: 170px;
				margin-bottom: 20px;

				a {
					font-weight: bold;
					text-transform: uppercase;
					.font-size(12px, 1.2rem);
				}
				div {
					.font-size(11px, 1.1rem);
				}
			}

			.panel {
				display: none;

				&:first-child {
					display: block;
				}
			}
		}
		.team-position {
			background-color: @blue-light;
			padding: 30px 20px 10px;
			margin-top: -15px;
			margin-left: -20px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 20px;

			a {
				margin-right: 20px;
				color: @gray-mid;

				@media only screen and (max-width: 719px) {
					display: block;
					margin-bottom: 10px;
				}

				&.active {
					color: @black;
				}
			}
		}
	}
	.all-members {
		margin-left: 20px;

		.panel {
			display: none;

			&:first-child {
				display: block;
			}

			.member-info {
				background-color: @white;
				padding: 25px;
				margin-bottom: 30px;
				min-height: 200px;

				h3 {
					margin-bottom: 10px;
				}

				.photo {
					
					img {
						width: 165px;
						float: left;
						margin-right: 25px;
						margin-bottom: 15px;
						border: 1px solid @defaultColor;
						box-shadow: 4px 4px 10px @gray-mid;

						@media only screen and (max-width: 719px) {
							float: none;
							margin: 0 auto;
							margin-bottom: 20px;
						}
					}
				}
				.title {
					margin-top: -5px;
				}
				.name {
					color: @blue6;
					text-transform: uppercase;
					.font-size(20px, 2rem);
				}
				.email-phone {
					text-transform: uppercase;
				}
			}
		}
	}
}

/* Striped table */
table.striped {
	
	&.bordered {
		border: 1px solid darken(@gray-mid, 10%);
	}

	thead {
		background-color: @blue4;
		color: @gray-mid;
		text-transform: uppercase;

		@media only screen and (max-width: 719px) {
			display: none;
		}
	}

	td {
		padding: 5px 10px;
		text-align: center;
		.font-size(11px, 1.1rem);

		@media only screen and (max-width: 719px) {
			.font-size(14px, 1.4rem);
		}


		&.comment {
			text-align: left;

			p {
				margin: 0px;
		 		
		 		@media only screen and (max-width: 719px) {
					display: inline;
		 		}

			}
		}
	}

	tbody {
		 td {
		 	padding: 10px;

		 	@media only screen and (max-width: 719px) {
				display: block;
				text-align: left;
		 	}

		 	strong {
		 		display: none;

		 		@media only screen and (max-width: 719px) {
		 			display: inline;
		 		}
		 	}

		 	&.plan {

		 		a {
		 			background: url('../images/graphics/pdf.png');
		 			background-repeat: no-repeat;
		 			background-position: top left;
		 			.inlineBlocker();
		 			width: 20px;
		 			height: 20px;
		 			text-indent: -9999px;
		 		}
		 	}
		 }
		 .even {
		 	background-color: @blue5;
		 }
	}
}


/*-----------------------------------------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------------------------------------*/
footer {
	margin-top: 40px;
	min-height: 175px;

	.rebny {
		width: 90px;
		float: right;
		margin-right: -15px;

		img {
			width: 86px;
			height: auto;
			margin-bottom: 10px;
		}
		ul {

			li {
				.inlineBlocker();
				.font-size(12px, 1.2rem);

				a  {
					color: #5B5B5D;
				}
			}
		}

		#legal,
		#credits {
			display: none;
			background-color: @white;
			padding: 20px;
			width: 380px;
			float: right;
			margin-top: 10px;
		}
	}
}